{% load static %}
<head>
  <link rel="stylesheet" media="all" href="{% static 'css/style.css' %}">
</head>

  <div style="position:relative; top:-10px; left:50px;">
    <p><font size="7">商品ページ</font></P>
    <img id="mainImg" style="float:left" src="{% static 'images/photo01.jpg' %}" width="360" height="350" alt="">
    <p>商品の説明をのせたい。商品の説明をのせたい。商品の説明をのせたい。商品の説明をのせたい。商品の説明をのせたい。商品の説明をのせたい。商品の説明をのせたい。</p>
  </div>
  <form style="clear:both" action="pay">
    <input type="submit" value="注文する">
  </form>
