{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jewelry.css' %}">
  <title>4℃のパクリ</title>
</head>

<body id="body">

  <div id="nav">
    <h1 align="center">
     <img src="{% static 'css/logo.png' %}" alt="logo">
    </h1>
    <ul>
      <li>JEWELY</li>
      <li>BRIDAL</li>
      <li>SHOP LIST</li>
      <li>PLESENTG UIDE</li>
      <li>SPIRITS</li>
      <li>JEWERY CARE</li>
    </ul>
  </div>

  <div id=head>
    <h1>
      <img src="{% static 'css/head.png' %}" alt="head">
    </h1>
  </div>

  <div>
    <ul class=pagination>
      <li class=page>1</li>
      <li class=page>2</li>
      <li class=page>3</li>
      <li class=page>...</li>
      <li class=page>最後</li>
    </ul>
  </div>

  <div>
    <ul id="itemlist">
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
    </ul>
     <ul id="itemlist">
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
      <li>
        <a>
          <img src="{% static 'css/list.png' %}" alt="商品" class="item">
        </a>
      </li>
    </ul>
  </div>

  <div>
    <ul class=pagination>
      <li class=page>1</li>
      <li class=page>2</li>
      <li class=page>3</li>
      <li class=page>...</li>
      <li class=page>最後</li>
    </ul>
  </div>

</body>
